<template>
  <div>
  <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <v-list-item link to="/">
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title to="/">Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-group
          prepend-icon="mdi-currency-usd"
          no-action
        >
          <template v-slot:activator>
              <v-list-item-title>Pricing</v-list-item-title>
          </template>
          <v-list-item link>
            <v-list-item-title>Plans & Add-ons</v-list-item-title>
          </v-list-item>
           <v-list-item link>
            <v-list-item-title>Discounts</v-list-item-title>
          </v-list-item>

        </v-list-group>

        <v-list-item to="/trials">
          <v-list-item-action>
            <v-icon>mdi-alarm</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Trials</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item >
          <v-list-item-action>
            <v-icon>mdi-briefcase-check</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Subscriptions</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title><img alt="Vue logo" src="../../assets/logo-white-1.png" width="398" height="121" /></v-toolbar-title>
    </v-app-bar>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class AppHeader extends Vue {
    drawer: boolean = true;
  }
</script>