<template>
  <div>
    <v-btn
      v-scroll="onScroll"
      v-show="fab"
      fab
      dark
      fixed
      bottom
      right
      color="primary"
      @click="toTop"
      class="mb-12"
    >
      <v-icon>mdi-menu-up</v-icon>
    </v-btn>
    <section>
      <v-layout column wrap align-center>
        <v-container class="text-center">
          <v-responsive class="mx-auto title font-weight-light" max-width="800">
            <p>AcuNex is a fast growing IT services company. We will help you reach your business goals faster and easier than ever before. Our aim is to bring you the top talent for the job, right when you need them. We strive to go above and beyond. We brand ourselves by the quality of our services and the quality of our resources who will help take your tec.</p>
          </v-responsive>
        </v-container>
      </v-layout>

      
    </section>

     <section id="services">
      <v-layout column wrap align-center class="pt-12 pb-6">
        <v-container class="text-center">
          <h2 class="display-1 font-weight-bold mb-3">SERVICES</h2>
          <v-responsive class="mx-auto mb-8" width="56">
            <v-divider class="mb-1"></v-divider>
            <v-divider></v-divider>
          </v-responsive>
          <v-responsive class="mx-auto mb-8" max-width="1020">
           <v-container class="px-6 py-4">
              <h4 class="mb-6 title font-weight-black">IT Talent Aquisition</h4>
              <div class="title font-weight-light mb-5">
                Our talent acquisition team will help deliver the best talent and service to meet clients specific needs. We will have the right resources with the right experience in the shortest time possible. We deliver the most talented, cost-effective IT resources and solutions that will enable our clients to gain an advantage and be successful in a competitive environment.
              </div>
              <div class="title font-weight-light mb-5">
                Our recruiters possess very strong technical backgrounds, in-depth knowledge of information technology, and an unmatched ability to match the right candidate for each job, from tough-to-find technical specialties to key leadership and professional roles.
              </div>
              <ul class="title">
                <li>Agility: Our recruiting team will help you cut through the clutter to hire better people, faster.</li>
                <li>Flexibility: Our pricing models are flexible to meet client needs and budget.</li>
                <li>Quality: Our rigorous recruitment and screening process consistently delivers highly-qualified candidates.</li>
              </ul>
            </v-container>
          </v-responsive>
          <v-responsive class="mx-auto mb-8" max-width="1020">
            <v-container class="px-6 py-4">
              <h4 class="mb-6 title font-weight-black">CONTRACT STAFFING</h4>
              <div
                class="title font-weight-light mb-5"
              >Do you need temporary additional staff for a period of time to just finish a task, project or just get through a busy period?   Our roster of experienced temporary professionals will fit your requirement. Our talented temporary professionals have real experience and can hit the ground running with minimal lead time. And when your project ends or you find you no longer need additional help, our temporary professionals are finished with their assignment. It is that simple.</div>
            </v-container>
          </v-responsive>
          <v-responsive class="mx-auto mb-8" max-width="1020">
            <v-container class="px-6 py-4">
              <h4 class="mb-6 title font-weight-black">CONTRACT-TO-HIRE</h4>
              <div
                class="title font-weight-light mb-5"
              >If you are not sure whether your company will need someone long term or short term, or if you’d simply like to try out a new employee before making a commitment, contract-to-hire model may be right for you. One of our IT recruiters will work with you on the hiring process and identify the ideal candidate for your project.</div>
            </v-container>
          </v-responsive>
          <v-responsive class="mx-auto mb-8" max-width="1020">
            <v-container class="px-6 py-4">
              <h4 class="mb-6 title font-weight-black">PERMANENT PLACEMENT</h4>
              <div
                class="title font-weight-light mb-5"
              >If you are looking for a regular, full-time employee, but don’t have the time or resources to wade through countless applications and resumes,  then we are here to help you. Our dedicated team of IT recruiters will identify and pursue top-quality candidates.</div>
            </v-container>
          </v-responsive>
        </v-container>
      </v-layout>
     </section>
     <section id="careers">
      <v-parallax
        src="banner-3.jpg"
        :height="$vuetify.breakpoint.mdAndDown ? null : 200"
        gradient="to top, rgba(227, 242, 253, 0.5), rgba(66, 165, 245, 0.8)"
      >
         <v-container class="px-6 py-4 black--text">
            <h4 class="mb-6 title font-weight-black text-center">LOOKING FOR YOUR DREAM JOB?</h4>
            <div
              class="title font-weight-light mb-5"
            >AcuNex is a talent engagement firm dedicated to building a better workforce and workplace for a constantly changing, high-tech, business world. At AcuNex, we take pride in putting our employees first.</div>
            <div>Please submit your Resume here <v-btn color="warning" dark @click="$vuetify.goTo('#contactUs')">Apply now</v-btn></div>
          </v-container>
      </v-parallax>
    </section>


    <section id="aboutUs">
      <v-layout column wrap align-center class="pt-12">
        <v-container class="text-center">
          <h2 class="display-1 font-weight-bold mb-3">ABOUT US</h2>
          <v-responsive class="mx-auto title font-weight-light" max-width="800">
            <p>AcuNex is established by proven executives with strong leadership and deep expertise in the global IT services industry, AcuNex is dedicated to offering clients a true partnership based on service, quality and competency. Our approach is flexible and collaborative. We work with our clients for a custom solution that fits their needs.  Call us for more information on how AcuNex can help you get the right technology resources needed to put your business in high gear.
              
            </p>
          </v-responsive>
        </v-container>
      </v-layout>

    </section>

  
    <section id="contactUs">
      <v-layout column wrap align-center class="pt-12 pb-6">
        <v-container class="text-center">
          <h2 class="display-1 font-weight-bold mb-6">Contact us</h2>
          <v-responsive class="mx-auto mb-8" width="56">
            <v-divider class="mb-1"></v-divider>
            <v-divider></v-divider>
          </v-responsive>
          <v-responsive class="mx-auto title font-weight-lightt" max-width="920">
            <ContactForm />
          </v-responsive>
        </v-container>
      </v-layout>
    </section>

  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";

import ContactForm from "@/components/ContactForm.vue";

@Component({
  components: { ContactForm }
})
export default class Home extends Vue {
  fab: boolean = false;

  onScroll(e: any) {
    if (typeof window === "undefined") return;
    const top = window.pageYOffset || e.target.scrollTop || 0;
    this.fab = top > window.innerHeight;
  }

  toTop() {
    this.$vuetify.goTo(0);
  }
}
</script>
<style>
.v-parallax__image-container {
  opacity: 0.5 !important;
}
</style>