<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field v-model="name" :counter="50" :rules="nameRules" label="Your Name" required></v-text-field>

    <v-text-field v-model="email" :rules="emailRules" label="Your E-mail" required></v-text-field>

    <v-text-field v-model="subject" :rules="subjectRules" label="Subject" required></v-text-field>

    <v-textarea v-model="message" :rules="messageRules" label="Message" required></v-textarea>

    <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">Submit</v-btn>

    <v-btn color="error" class="mr-4" @click="reset">Reset</v-btn>
    <v-snackbar v-model="snackbar" :timeout="10000" color="white" class="black--text">
      Thank you for contacting us, will get in touch as soon as possible.
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-form>
</template>

<script lang="ts">
import { Component, Vue, Watch, Prop } from "vue-property-decorator";
import axios from "axios";

@Component({})
export default class ContactForm extends Vue {
  valid: boolean = true;
  snackbar: boolean = false;

  name: string = "";
  email: string = "";
  subject: string = "";
  message: string = "";

  nameRules: any = [
    (v: string) => !!v || "Name is required",
    (v: string) =>
      (v && v.length <= 10) || "Name must be less than 10 characters"
  ];

  emailRules: any = [
    (v: string) => !!v || "Email is required",
    (v: string) => /.+@.+/.test(v) || "E-mail must be valid"
  ];

  subjectRules: any = [(v: string) => !!v || "Subject is required"];

  messageRules: any = [(v: string) => !!v || "Message is required"];

  validate() {
    if (this.form.validate()) {
      let data = {
        fromName: "Yectra",
        fromEmail: "noreply@yectra.com",
        toName: "Yectra",
        toEmail: "management@yectra.com",
        subject: "Contact form submitted",
        message: `
            <h1>Details</h1>
            <ul>
              <li>Name: ${this.name}</li>
              <li>Email: ${this.email}</li>
              <li>Subject: ${this.subject}</li>
              <li>Message: ${this.message}</li>
            </ul>
          }`
      };

      axios
        .post(`https://us-central1-yectra-api.cloudfunctions.net/api/smtp`, data)
        .then((response: any) => {
          this.form.reset();
          this.snackbar = true;
        });
    }
  }

  reset() {
    this.form.reset();
  }

  resetValidation() {
    this.form.resetValidation();
  }

  get form(): any {
    return this.$refs.form;
  }
}
</script>
