<template>
  <v-app>
    <v-app-bar app class="" height="80">
      <v-toolbar-title class="text--primary">
        <v-img src="logo.png" max-width="200"></v-img>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
    </v-app-bar>
    <section app>
      <v-img
        src="banner-11.jpg"
        :height="imgHeight"
        gradient="to right, rgba(5, 11, 31, 0.8), rgba(5, 11, 31, 0.8)"
      >
        <v-container class="fill-height white--text">
          <v-row align="center">
            <v-col>
              <div class="display-1 font-weight-bold">Changing the way IT Talent Acquisition is done</div>
              <div class="headline pt-4">AcuNex uses tailored business intelligence and industry trends to forecast your talent needs. We will help you reach your business goals faster and easier than ever before.  Our aim is to bring you the top talent for the job, right when you need them. We strive to go above and beyond.</div>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
    </section>
    <v-navigation-drawer v-model="drawer" fixed temporary app right>
      <v-list nav dense>
        <v-list-item-group>          
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-cogs</v-icon>
            </v-list-item-icon>
            <v-list-item-title @click="$vuetify.goTo('#services');drawer=false">Services</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-hand-right</v-icon>
            </v-list-item-icon>
            <v-list-item-title @click="$vuetify.goTo('#careers');drawer=false">Careers</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-information</v-icon>
            </v-list-item-icon>
            <v-list-item-title @click="$vuetify.goTo('#aboutUs');drawer=false">About Us</v-list-item-title>
          </v-list-item>
          <v-list-item>
            <v-list-item-icon>
              <v-icon>mdi-message</v-icon>
            </v-list-item-icon>
            <v-list-item-title @click="$vuetify.goTo('#contactUs');drawer=false">Contact Us</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>

    <v-content app>
      <router-view></router-view>
    </v-content>

    <v-footer padless>
      <v-card tile class="flex grey darken-4 white--text">
        <v-card-text class="white--text d-flex">
          <span>© {{ new Date().getFullYear() }} AcuNex</span>
          <v-spacer />
          <span>Designed by <a href="https://www.yectra.com" target="_blank" class="white--text">Yectra</a></span>
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import AppHeader from "@/components/layout/AppHeader.vue";
import AppFooter from "@/components/layout/AppFooter.vue";

export default Vue.extend({
  name: "App",
  components: {
    // AppHeader,
    // AppFooter
  },
  data: () => ({
    drawer: false,
    imgHeight: window.innerHeight
  })
});
</script>
